<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script src="js/addAircraftsPage.js"></script>
    <script src="js/logout.js"></script>
	</head>
	<body>
		<div class="headerDiv">
            <a href="/admin"><img class="avatar" src="/images/back_button.png"></a>
			<h1>ADD AIRCRAFTS <a href="/profile"><img class="avatar" src="/images/img_avatar.png"></a></h1>
			
		</div>

		<div class="topnav">
			<a href="/admin">DashBoard</a>
			<a href="/addEmployee">Add Employee</a>
			<a class="active" href="/addAircrafts">Add Aircrafts</a>
      <a href="/addAircraftModels">Add Aircraft Model</a>
			<a href="/addFaaTest">Add FAA Tests</a>
			<a href="/addUnion">Add Union</a>
      <a href="#">Schedule Check</a>
      <a id="logout" href="#">Logout</a>
		</div>
		<div>
            <form>
                <label for="aModelLabel">Model:</label>
                <select id="aModel" name="aModel">
                  <option value="Blank"></option>
                </select>
                <br><br>

                <label for="aRegNum">Registration Number:</label>
                <input type="text" id="aRegNum" name="aRegNum"><br><br>
                
                <label id="aBuildLabel" for="addExpertise">Name:</label>
                <input  type="text" id="aBuild" name="aBuild" disabled><br><br>

                <label for="aCapacityLabel">Capacity:</label>
                <input type="text" id="aCapacity" name="aCapacity" disabled><br><br>
    
                
                <label id="aWeightLabel" for="aWeight">Weight:</label>
                <input type="text" id="aWeight" name="aWeight" disabled><br><br>
    
                <button type="button" id="btnaddAircraft" >Save</button>
                <button type="button" id="btncancelAddAircraft" >Cancel</button>
                
              </form>

              <div id="addAircraftSuccess" class="alert success hideInfo">
                <span class="closebtn">&times;</span>  
                <strong>Success!</strong> Aircraft Added successfully.
              </div>
              
              <div id="addAircraftError" class="alert hideInfo">
                <span class="closebtn">&times;</span>  
                <strong>Error!</strong> Unable to add Aircraft.
              </div>
		</div>
	</body>
</html>
