<!DOCTYPE html>
<html>
	<head>
		<title>Add Union</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
        <h1>UNION</h1>
		<form>
            <label for="uname">Union name:</label>
            <input type="text" id="uname" name="uname"><br><br>
            <label for="unionID">Union ID:</label>
            <input type="text" id="unionID" name="unionID"><br><br>
            <label for="foundername">Founder Name:</label>
            <input type="text" id="foundername" name="foundername"><br><br>
            <label for="foundationdate">Foundation Day:</label>
            <input type="text" id="foundationdate" name="foundationdate"><br><br>
            <button type="button" onclick="save()" >Save</button>
            <button type="button" onclick="cancel()" >Cancel</button>
          </form>
	</body>
</html>