<div class="headerDiv">
	<a href="/admin"><img class="avatar backButton" src="/images/home_button.jpg" /></a>
	<h1 class="pageTitle">
		ADMIN HOME PAGE
		<a href="/profile"><img class="avatar profileImg" src="/images/img_avatar.png" /></a>
	</h1>
</div>

<div class="topnav">
	<a class="link" href="/admin" id="dashboard">DashBoard</a>
	<a class="link" href="/addEmployee" id="add_employee">Add Employee</a>
	<a class="link" href="/addAircrafts" id="add_aircraft">Add Aircrafts</a>
	<a class="link" href="/addAircraftModels" id="add_model"
		>Add Aircraft Model</a
	>
	<a class="link" href="/addFaaTest" id="add_faa_test">Add FAA Tests</a>
	<a class="link" href="/addUnion">Add Union</a>
	<a class="link" href="/scheduleTest" id="add_schedule">Schedule Check</a>
	<a id="logout" href="#">Logout</a>
</div>

<script src="js/adminNav.js"></script>
<script src="js/logout.js"></script>
