<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<link rel="stylesheet" href="/css/style.css" />
		<!-- JavaScript Bundle with Popper -->
		<script src="js/allAircrafts.js"></script>
	</head>
	<body>
		<!-- <div class="headerDiv">
			<h1>VIEW ALL JOBS <a href="/profile"><img class="avatar" src="/images/img_avatar.png"></a></h1>
			
		</div>
		
		<div class="topnav">
			<a href="/admin">DashBoard</a>
			<a href="/addEmployee">Add Employee</a>
			<a href="/addAircrafts">Add Aircrafts</a>
			<a href="/addAircraftModels">Add Aircraft Model</a>
			<a href="/addFaaTest">Add FAA Tests</a>
			<a href="/addUnion">Add Union</a>
            <a href="#">Schedule Check</a>
		</div> -->
		<%- include('adminNav.ejs') %>
		<div>
			<div>
				<h3>WORKING AIRCRAFTS</h3>

				<table class="tableClass" id="allWorkingAircrafts">
					<tr>
						<th>Registration Number</th>
						<th>Model Number</th>
						<th>Model Name</th>
						<th>Weight</th>
						<th>Capacity</th>
					</tr>
				</table>
			</div>
			<br /><br />
			<div>
				<h3>NON WORKING AIRCRAFTS</h3>

				<table class="tableClass" id="allNonWorkingAircrafts">
					<tr>
						<th>Registration Number</th>
						<th>Model Number</th>
						<th>Model Name</th>
						<th>Weight</th>
						<th>Capacity</th>
					</tr>
				</table>
			</div>
			<br /><br />
		</div>
	</body>
</html>
