<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script src="js/index.js"></script>
		<script src="js/logout.js"></script>
	</head>
	<body>
		<div class="headerDiv">
			<a href="/index"><img class="avatar backButton" src="/images/home_button.jpg" /></a>
			<h1 class="pageTitle">HOME PAGE <a href="/profile"><img class="avatar profileImg" src="/images/img_avatar.png"></a></h1>
			
		</div>

		<div class="topnav">
			<a class="active" href="/index">View Assigned Jobs</a>
			<a href="/addJobReport">Add Report</a>
			<a href="/pastJobs">View Past Jobs</a>
			<a href="/union">Find Union</a>
			<a id="logout" href="#">Logout</a>
			
		</div>
		<div>
			<table id="assignedJobsTable" class = "tableClass">
				<tr>
				  <th>JobId</th>
				  <th>Flight Number</th>
				  <th>Date Assigned</th>
				  <th>Test Name</th>
				  <th>Status</th>
				</tr>
			</table>
		</div>
	</body>
</html>
