<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script src="js/index.js"></script>
	</head>
	<body>
		<div class="headerDiv">
			<h1>HOME PAGE <a href="/profile"><img class="avatar" src="/images/img_avatar.png"></a></h1>
			
		</div>

		<div class="topnav">
			<a class="active" href="#">View Assigned Jobs</a>
			<a href="#">Add Report</a>
			<a href="#">View Past Jobs</a>
			<a href="#">Find Union</a>
		  </div>
	</body>
</html>
