<!DOCTYPE html>
<html>
	<head>
		<title>Profile Settings</title>
		<link rel="stylesheet" href="/css/style.css" />
        <script src="js/profileSettings.js"></script>
        <script src="js/unionDetailsController.js"></script>
        <script src="js/logout.js"></script>
	</head>
	<body>
        <div class="headerDiv">
          <a href="/index"><img class="avatar backButton" src="/images/home_button.jpg" /></a>
    <h1 class="pageTitle">Profile Settings </h1>
    
  </div>
      <div class="topnav">
          <a id="logout" href="#">Logout</a>
  </div>
		<div class="formDiv formClass">
            <label for="uname">Name</label>
            <input type="text" id="uname" name="uname">

            <label for="SSN">SSN</label>
            <input type="text" id="uSSN" disabled>

            <label for="address">Address</label>
            <input type="text" id="uaddress" name="address">

            <label for="phone">Phone Number</label>
            <input type="text" id="uphone" name="phone">

            <label for="salary">Salary</label>
            <input type="text" id="usalary" name="salary" disabled>

            <label id="expertiseLable" for="expertise">Expertise</label>
            <input type="text" id="uExpertise" name="expertise" disabled>

            <label id="uUtdLable" for="utd">Update Test Date</label>
            <input type="text" id="uUtd" name="utd" disabled>

            <label for="salary">Union Id</label>
            <input type="text" id="uUnion" name="unionId" disabled>
            <button class="userUnionButton" id="btnUnionJoinProfile" type="button">Join an union</button>
            <button class="userUnionButton" id="btnUnionLeave" type="button">Leave</button><br><br>
            <button id="btnUpdatePasswordPage" type="button">Update Password</button>
            <button type="button" id="saveProfileSettings" >Save</button>
            <button type="button" id="cancelProfileSettings" >Cancel</button>
            
    </div>

          <div id="uSuccessDialog" class="alert success hideInfo">
            <span class="closebtn">&times;</span>  
            <strong>Success!</strong> Updated user info.
          </div>
          
          <div id="uErrorDialog" class="alert hideInfo">
            <span class="closebtn">&times;</span>  
            <strong>Error!</strong> Update Unsuccessful.
          </div>
          
          
	</body>
</html>