<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script src="js/scheduleTest.js"></script>
	</head>
	<body>
		<!-- <div class="headerDiv">
			<a href="/admin"><img class="avatar" src="/images/back_button.png" /></a>
			<h1>
				ADMIN HOME PAGE
				<a href="/profile"
					><img class="avatar" src="/images/img_avatar.png"
				/></a>
			</h1>
		</div>

		<div class="topnav">
			<a href="/admin">View Aircrafts</a>
			<a class="active" href="/addEmployee">Add Employee</a>
			<a href="/addAircrafts">Add Aircrafts</a>
			<a href="/addAircraftModels">Add Aircraft Model</a>
			<a href="/addFaaTest">Add FAA Tests</a>
			<a href="#">Add Union</a>
			<a href="#">Schedule Check</a>
		</div> -->

		<%- include('adminNav.ejs') %>
		<div>
			<form>
				<br />
				<br />
				<label for="aircraft">Aircraft No:</label>
				<!-- <input type="text" id="eName" name="eName" /><br /><br /> -->
				<select id="aircraft" required>
					<option value="">Select Aircraft</option>
				</select>
				<br />
				<br />

				<label for="test">Test:</label>
				<select id="test" required>
					<option value="">Select Test</option>
				</select>

				<br />
				<br />

				<label for="assign_to">Assign To:</label>
				<select id="assign_to" required>
					<option value="">Select employee</option>
				</select>
				<br />
				<br />

				<button type="button" id="btnaddEmplpyee">Assign</button>
				<button type="button" id="btncancelAddEmployee">Cancel</button>
			</form>

			<div id="addEmployeeSuccess" class="alert success hideInfo">
				<span class="closebtn">&times;</span>
				<strong>Success!</strong> Job Added successfully.
			</div>

			<div id="addEmployeeError" class="alert hideInfo">
				<span class="closebtn">&times;</span>
				<strong>Error!</strong> Unable to add Job.
			</div>
		</div>
	</body>
</html>
