<!DOCTYPE html>
<html>
	<head>
		<title>Union Details</title>
		<link rel="stylesheet" href="/css/style.css" />
        <script src="js/unionDetails.js"></script>
        <script src="js/unionDetailsController.js"></script>
	</head>
	<body>
        <h1>UNION</h1>
		<form>
            <label for="uname">Union Name (required): </label>
            <select id="uname" name="uname" required>
                <option value="Blank"></option>
            </select><br><br>
            <label for="id">Union ID:</label>
            <input type="text" id="union_id" name="uid" disabled><br><br>

            <label for="startDate">Started On:</label>
            <input type="text" id="startDate" name="startDate" disabled><br><br>

            <label for="Lname">Leader Name:</label>
            <input type="text" id="lname" name="lname" disabled><br><br>

            <button type="button" id="get_union_members">View All Members</button>
            <button type="button" id="btnUnionJoin">Join</button>
            <button type="button" id="btnUnionLeave">Leave</button>
    </form>
        <div id="union_members_table" style="display:none">
            <table id="unionMembersTable">
            <tr>
                <th>Member Name</th>
                <th>Membership ID</th>
            </tr>
          </table>
    </div>
	</body>
</html>