<!DOCTYPE html>
<html>
	<head>
		<title>Union Details</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
        <h1>UNION</h1>
		<form>
            <label for="uname">Union name:</label>
            <input type="text" id="uname" name="uname"><br><br>
            <label for="startDate">Started On:</label>
            <input type="text" id="startDate" name="startDate"><br><br>
            <label for="Lname">Leader Name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <button type="button" onclick="viewallmembers()" >View All Members</button>
            <button type="button" onclick="join()" >Join</button>
            <button type="button" onclick="leave()" >Leave</button>
          </form>
	</body>
</html>