<!DOCTYPE html>
<html>
	<head>
		<title>Update Password</title>
		<link rel="stylesheet" href="/css/style.css" />
        <script src="js/updatePasswordPage.js"></script>
	</head>
	<body>
        <h1>Update Password</h1>
		<form>
            <label for="op">Old Password:</label>
            <input type="password" id="oldPassword" name="op" required><br><br>

            <label for="np">New Password:</label>
            <input type="password" id="newPassword" required><br><br>

            <label for="np1">Re-enter New Password:</label>
            <input type="password" id="newPassword1" name="np1"><br><br>

            <button id="btnUpdatePassword" type="button">Update Password</button>
            <button type="button" id="cancelUpdatePassword" >Cancel</button>
            
          </form>

          <div id="uSuccessDialog" class="alert success hideInfo">
            <span class="closebtn">&times;</span>  
            <strong>Success!</strong> Updated user info.
          </div>
          
          <div id="uErrorDialog" class="alert hideInfo">
            <span class="closebtn">&times;</span>  
            <strong>Error!</strong> Update Unsuccessful.
          </div>
          
          
	</body>
</html>