<!DOCTYPE html>
<html>
	<head>
		<title>Union Members</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<table>
            <tr>
                <th>Member Name</th>
                <th>ID</th>
                <th>Member since</th>
            </tr>
            viewallmembersfromunion();
        </table>
	</body>
</html>