<!DOCTYPE html>
<html>
	<head>
		<title>Union Members</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<table>
            <tr>
                <th>Member Name</th>
                <th>ID</th>
                <th>Member since</th>
            </tr>
            
            while($row = mysqli_fetch_array(viewallmembersfromunion())){ 
                echo "<tr>";
                echo "<td>".$row['member_name']."</td>";
                echo "<td>".$row['id']."</td>";
                echo "<td>".$row['member_since']."</td>";
        }
        </table>
	</body>
</html>