<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script src="js/viewPastJobs.js"></script>
	</head>
	<body>
		<div class="headerDiv">
			<h1>HOME PAGE <a href="/profile"><img class="avatar" src="/images/img_avatar.png"></a></h1>
			
		</div>

		<div class="topnav">
			<a href="/index">View Assigned Jobs</a>
			<a href="/addJobReport">Add Report</a>
			<a class="active" href="/pastJobs">View Past Jobs</a>
			<a href="#">Find Union</a>
		</div>
		<div>
			<table id="pastJobsTable">
				<tr>
				  <th>JobId</th>
				  <th>Flight Number</th>
				  <th>Date Assigned</th>
				  <th>Test Name</th>
				  <th>Status</th>
				</tr>
			</table>
		</div>
	</body>
</html>
